@import url("https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@600&display=swap");
body{
    background-color: #00bfff;
    margin: 0px;
    padding: 0px;
}
#Main_Section{
    background-image: url(../Images/samantha-gades-tVzGTraJ4T0-unsplash.jpg);
    width: inherit;
    height: 800px;
}
#Heading {
    text-align: center;
    font-size: 3em;
    border-bottom: 5px solid dodgerblue;
    margin: 0px;
    padding: 0px;
    margin-top: 10px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    padding-left: 10px;
}
.center {
    margin-top: 100px;
    margin-left: 20px;
    display: inline-block;
    position: relative;
    padding: 10px 10px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    
}
.center h1 {
    font-size: 2em;
    border-bottom: 5px solid dodgerblue;
    padding: 0px;
    color: #000;
    letter-spacing: 5px;
    margin-bottom: 20px;
    font-weight: bold;
    padding-left: 10px;
}
.center label{
    padding-left: 10px;
    font-weight: bold;
}
.center .inputbox {
    position: relative;
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
}
.center .inputbox input {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    border: 2px solid #000;
    outline: none;
    background: none;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.2em;
}
.center .inputbox:last-child {
    margin-bottom: 0;
}
.center .inputbox span {
    position: absolute;
    top: 14px;
    left: 20px;
    font-size: 1em;
    transition: 0.6s;
    font-family: sans-serif;
}
.center .inputbox [type="button"] {
    width: 50%;
    background: dodgerblue;
    color: #fff;
    border: #fff;
}
.center .inputbox:hover [type="button"] {
    background: linear-gradient(45deg, greenyellow, dodgerblue);
    cursor: pointer;
}